body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffe0b2; /* Light peach background */
  }
  
  h1 {
    color: #e65100; /* Deep orange color */
    margin-bottom: 25px;
    font-size: 2.2rem;
  
  }

  h2 {
    color: #403ebd;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.2rem; /* Slightly larger text for readability */
    color: #333; /* Darker gray for the text */
  }
  
  main {
    padding: 40px 20px; /* Increased padding for a spacious look */
    text-align: center;
  }
  